.custom-footer {
    padding: 80px 100px 50px 100px !important;
    color: #7B7A7B !important;
}
.custom-footer a {
    color: #7B7A7B !important;
    font-size: 16px !important;
    text-decoration: none !important;
}
.custom-footer a:hover {
    text-decoration: underline !important;
}
.custom-footer svg {
    margin-right: 25px !important;
    color: #fff !important;
}
.service-code {
    border: 1px solid #7B7A7B !important;
    font-size: 18px !important;
    padding: 5px !important;
}
.copyright {
    font-size: 14px !important;
}