// .header-info {
//     position: absolute !important;
//     top: 300px !important;
//     left: 50px !important;
// }
// .btn-header {
//     margin-right: 15px !important;
// }

.search-movie {
    height: 40px !important;
    width: 100% !important;
    background-color: #000 !important;
    color: #fff !important;
    border-color: #fff !important;
    padding-left: 10px !important;
}